*{
  box-sizing: border-box;
  margin: 0;
}
html{
  background-color: #333333;
  scroll-behavior: smooth;
}
body{
  min-height: 130vh;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #333333;
  ;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #fff;
}